<!-- Modal Bootstrap 4 -->

<div id="modal" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div id="modal-content" class="modal-content">
      <div class="modal-header bg-primary">
        <h3 id="modal-title" class="modal-title text-white"></h3>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close" onclick="App.Todo.closeModal();">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="content">
      </div>
    </div>
  </div>
</div>
