<div class="form-group">
  <ul class="list-group">
    <li class="list-group-item bg-danger">
      <h4 class="text-white"><%= t('errors.form', count: todo.errors.count) %></h4>
    </li>
    <% todo.errors.full_messages.each do |message| %>
      <li class="list-group-item list-group-item-danger"><%= message %></li>
    <% end %>
  </ul>
</div>
